<div class="row">
  <div class="col-4">
    <ul>
      <li *ngFor="let item of roleList">{{ item.role }}</li>
    </ul>
  </div>
  <div class="col-4">
    <select>
      <option *ngFor="let role of roleList" [value]="role.roleId">{{ role.role }}</option>
    </select>
  </div>
</div>














<!--<p>roles works!</p>-->
<!--<div class="row">-->
<!--  <div class="col-3">-->
<!--    <p>{{ firstName }}</p>-->
<!--  </div>-->
<!--  <div class="col-3">-->
<!--    <p>{{ version }}</p>-->
<!--  </div>-->
<!--  <div class="col-3">-->
<!--    <p>{{ currentDate }}</p>-->
<!--  </div>-->
<!--  <div class="col-3">-->
<!--    {{ selectedState }}-->
<!--  </div>-->
<!--</div>-->

<!--<div class="row">-->
<!--  <div class="col-3">-->
<!--    <input type="text" [value]="firstName" class="form-control"/>-->
<!--  </div>-->

<!--  <div class="col-3">-->
<!--    <input type="text" [(ngModel)]="firstName"/>-->
<!--  </div>-->

<!--  <div class="col-3">-->
<!--    <input [type]="inputType"/>-->
<!--  </div>-->

<!--  <div class="col-3">-->
<!--    <select [(ngModel)]="selectedState">-->
<!--      <option value="MH">MH</option>-->
<!--      <option value="DEL">DEL</option>-->
<!--      <option value="HAR">HAR</option>-->
<!--    </select>-->
<!--  </div>-->
<!--  <br>-->
<!--  <div class="row">-->
<!--    <div class="col-3">-->
<!--      <button class="btn btn-success" (click)="showWelcomeAlert()">Show Alert</button>-->
<!--    </div>-->
<!--    <div class="col-3">-->
<!--      <button class="btn btn-success" (click)="showMessage('Welcome to angular baby')">Show angular message</button>-->
<!--    </div>-->
<!--  </div>-->

<!--</div>-->
