<div class="row pt-2">
  <div class="col-12 text-center">
    <div class="btn-group">
      <button (click)="changeTab('Roles')" [ngClass]="currentComponent=='Roles' ? 'btn-success':'btn-primary' " class="btn"
              type="button">Roles
      </button>
      <button (click)="changeTab('Designation')" [ngClass]="currentComponent=='Designation' ? 'btn-success':'btn-primary' " class="btn"
              type="button">Designation
      </button>
    </div>
  </div>
</div>

<div class="row pt-2">
  <div *ngIf="currentComponent == 'Roles'" class="col-12">
    <app-roles></app-roles>
  </div>
  <div *ngIf="currentComponent=='Designation'" class="col-12">
    <app-designation></app-designation>

  </div>
</div>
