<div class="row">
  @if (isLoader == true) {
    <div class="col-12 text-center">
      <div class="spinner-border text-muted mx-2"></div>
      <div class="spinner-border text-primary mx-2"></div>
      <div class="spinner-border text-success mx-2"></div>
      <div class="spinner-border text-info mx-2"></div>
      <div class="spinner-border text-warning mx-2"></div>
      <div class="spinner-border text-danger mx-2"></div>
      <div class="spinner-border text-secondary mx-2"></div>
      <div class="spinner-border text-dark mx-2"></div>
      <div class="spinner-border text-light mx-2"></div>
    </div>
  } @else {
    @for (item of designationList; track $index) {
      <div class="col-3">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">{{ item.designation }}</h4>
            <a href="#" class="card-link">Edit</a>
            <a href="#" class="card-link">Delete</a>
          </div>
        </div>
      </div>
    }
  }
</div>
